/**
 * The following media queries are approximate standard device sizes.
 * They are to be used as a starting point and should be customized to meet your design's requirements.
 */


//
// Mobile Portrait
// --------------------------------------------------

@media only screen and (max-width: 320px) {
}


//
// Mobile Portrait to Mobile Landscape
// --------------------------------------------------

@media only screen and (min-width: 321px) {
}


//
// Tablet Portrait to Tablet Landscape
// --------------------------------------------------

@media only screen and (min-width: 569px) {
}


//
// Tablet Landscape and Desktop
// --------------------------------------------------

@media only screen and (min-width: 960px) {

    .content-area {
        float: left;
        width: 75%;
    }

    .content-sidebar {
        float: right;
        width: 20%
    }

    .footer-sidebar .widget {
        width: 30%;
        display: inline-block;
    }

    .wrapper {
        width: 940px;
    }
}


//
// Wide Desktop
// --------------------------------------------------

@media screen and (min-width: 1140px) {

    .wrapper {
        width: 1120px;
    }
}