//
// Retina
// --------------------------------------------------

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {}


//
// Small
// --------------------------------------------------

@media (min-width: 480px) {}


//
// Medium
// --------------------------------------------------

@media (min-width: 768px) {

    .container {
        @include container;
        padding: 0 15px;
    }

    .site-header {
        text-align: left;
    }

    .columns {

        .one-fourth {
            @include span(3);
        }

        .one-third {
            @include span(4);
        }

        .one-half {
            @include span(6);
        }

        .two-third {
            @include span(8);
        }

        .column:first-child {
            margin-left: 0;
        }

        @include clearfix();
    }

    .is-blog .content {
        @include span(9);
    }

    .sidebar {
        display: block;
        padding-left: 30px;
        @include span(3);
    }

    .site-footer {
        text-align: left;
    }

    .footer-widgets {
        border-top: 1px solid $color-grey;

        .widget {
            margin-top: 10px;
            border-top: none;

            @include span(4);

            &:first-child {
                margin-left: 0;
            }
        }

        @include clearfix();
    }
}


//
// Large
// --------------------------------------------------

@media (min-width: 992px) {}


//
// Extra large
// --------------------------------------------------

@media (min-width: 1200px) {}