//
// Imports
// --------------------------------------------------

// Libs
@import "lib/susy/susy";
@import "lib/breakpoint/breakpoint";

// Other
@import "reset";
@import "mixins";

//
// Config
// --------------------------------------------------

// Base
$body-background:   #fff;
$text-color:        #333;

// Links
$link-color:        #428bca;
$link-color-hover:  darken($link-color, 10%);

// Color palette
$color-grey:        #ddd;
$color-success:     #5cb85c;
$color-warning:     #f0ad4e;
$color-error:       #d9534f;
$color-info:        #5bc0de;

// Font stack
$font-family-base:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-alt:   Georgia, "Times New Roman", Times, serif;

// Typography
$font-size-base:    16px;
$line-height-base:  1.2em;
$font-size-xl:      floor($font-size-base * 2.25); // ~36px
$font-size-lg:      floor($font-size-base * 1.75); // ~28px
$font-size-md:      floor($font-size-base * 1.25); // ~20px
$font-size-sm:      floor($font-size-base * 0.85); // ~14px
$font-size-xs:      floor($font-size-base * 0.75); // ~12px

// Breakpoints
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Susy
$susy: (
    columns: 12,
    gutters: .25,
    gutter-position: before,
    container: 1120px,
    global-box-sizing: border-box
    );

//
// General
// --------------------------------------------------

// Apply a natural box layout model to all elements
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
    background: $body-background;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: $line-height-base;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height-base;
}

a { color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }
}

p {
    line-height: 1.75em;
}

img {
    max-width: 100%;
    height: auto;
}

.title, .subtitle {
    margin-top: 10px;
    margin-bottom: 0;
}

.container {
    @include container;
    padding: 0 15px;
}


//
// Columns
// --------------------------------------------------

.columns {

    @include breakpoint($md) {

        .one-fourth {
            @include span(3);
        }

        .one-third {
            @include span(4);
        }

        .one-half {
            @include span(6);
        }

        .two-third {
            @include span(8);
        }

        .column:first-child {
            margin-left: 0;
        }
    }

    @include clearfix();
}


//
// Header
// --------------------------------------------------

.site-header {
    padding-top: 10px;
    text-align: center;

    @include breakpoint($md) {
        text-align: left;
    }
}


//
// Navigation
// --------------------------------------------------

.primary-navigation {
    border-top: 1px solid $color-grey;
    margin-top: 20px;

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul li {
        display: inline-block;
        margin-right: 20px;
    }
}


//
// Content
// --------------------------------------------------

.site-content {
    padding-bottom: 30px;
}

.is-blog .content {

    @include breakpoint($md) {
        @include span(9);
    }
}

.content {}


//
// Sidebar
// --------------------------------------------------

.sidebar {
    display: none;

    @include breakpoint($md) {
        display: block;
        padding-left: 30px;
        @include span(3);
    }
}


//
// Blog
// --------------------------------------------------

.blog { }

.archive { }


//
// Posts
// --------------------------------------------------

.post {

    .entry-header { }

    .entry-meta {
        font-size: $font-size-sm;

        .posted-on { }

        .byline {
            display: block;
        }

        .updated {
            display: none;
        }
     }

    .entry-content { }

    .entry-footer {

        .comments-link {
            display: block;
            margin-top: 10px;
        }
    }
}


//
// Comments
// --------------------------------------------------

.comments {

    .comment-list {
        list-style: none;
        padding-left: 0;
    }

    .comment {
    }

    .comment-form-comment label {
        display: none;
    }

    .form-allowed-tags {
        display: none;
    }
}


//
// Footer
// --------------------------------------------------

.site-footer {
    text-align: center;

    @include breakpoint($md) {
        text-align: left;
    }
}

.footer-widgets {

    @include breakpoint($md) {
        border-top: 1px solid $color-grey;
    }

    .widget {
        border-top: 1px solid $color-grey;

        @include breakpoint($md) {

            @include span(4);
            margin-top: 10px;
            border-top: none;

            &:first-child {
                margin-left: 0;
            }
        }

        /*
        @include breakpoint($lg) {

            @include span(4 inside no-gutters);
            margin: 0;
            background: $color-info;

            &:first-child {
                margin-left: 0;
            }
        }
        */
    }

    @include clearfix();
}

.site-info {
    font-size: $font-size-sm;
    margin: 20px 0;
}


//
// Imports
// --------------------------------------------------

@import "required";
@import "print";