/**
 * Comments
 */

.comments {

    .comment {
        margin-bottom: 25px;
    }

    .comment-reply-link {
        font-weight: bold;
    }

    .comment-list {
        padding-left: 0;
        list-style: none;
    }

    .comment-respond {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $color-border;
    }

    .comment-form-comment label {
        display: none;
    }

    .form-allowed-tags {
        display: none;
    }
}
