.comment {
  margin-bottom: 2rem;
}

.comment-reply-link {
  font-weight: bold;
}

.comment-list {
  padding-left: 0;
  list-style: none;
}

.comment-form-comment {
  label {
    display: block;
  }

  textarea {
    max-width: 100%;
  }
}
