.pager {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .previous {
    flex-basis: 50%;
    text-align: left;
  }

  .next {
    flex-basis: 50%;
    text-align: right;
  }
}
