// Colors
$color-body: #fff;
$color-text: #000;
$color-heading: #444;
$color-link: #09d;
$color-link-hover: lighten($color-link, 20%);
$color-success: #1fd160;
$color-info: #209cee;
$color-warning: #ffdd57;
$color-danger: #ff3860;
$color-border: #ccc;

// Fonts
$font-family-sans: "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans;
$font-family-heading: $font-family-sans;

// Typography
$font-size-base: 1rem;
$font-weight-base: normal;
$font-weight-heading: 600;
$line-height-base: 1.6;
$line-height-heading: 1.25;
$link-decoration: none;

// Headings
$h1: 2.5rem; // 40px
$h2: 2rem; // 32px
$h3: 1.75rem; // 28px
$h4: 1.5rem; // 24px
$h5: 1.25rem; // 20px
$h6: 1.15rem; // 18px

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
