/**
 * Micro clearfix
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
@mixin clearfix() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/**
 * buttons
 */
@mixin button($size:1.2em, $radius:5px) {

    $color: #444;
    $background1: #fcfcfc;
    $background2: #eeeeee;

    display: inline-block;
    background: linear-gradient(#fcfcfc,#eee);
    padding-top: $size / 2.5;
    padding-right: $size / 1.5;
    padding-bottom: $size / 2.5;
    padding-left: $size / 1.5;
    font-size: $size;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    color: $color;
    border: 1px solid darken($background1, 10%);
    border-radius: $radius;

    &:hover {
        background: linear-gradient( darken($background1, 3%), darken($background2, 3%));
        border: 1px solid darken($background1, 15%);
        color: darken($color, 10%);
    }

    .fa {
        padding-left: 5px;
    }
}
