/**
 * Posts
 */

.post, .single-post {

    .entry-title {
        margin-bottom: 15px;
    }

    .entry-header {
        margin-bottom: 20px;
    }

    .entry-meta {
        margin-bottom: 30px;
    }

    .entry-footer {

        .comments-link {
            display: block;
            margin-top: 10px;
        }
    }

    .post-nav {
        @include clearfix();

        .previous {
            float: left;
        }

        .next {
            float: right;
        }
    }
}
