/**
 * Posts
 */

// All posts
.blog, .single, .archive, .search-results {

    .entry {
        margin-bottom: 30px;
    }

    .comments-link {
        display: block;
        margin-top: 10px;
    }
}

// Blog posts and single posts
.blog, .single {

    .entry-header {
        margin-bottom: 20px;
    }
}

// Archive and search results posts
.archive, .search-results {

    .entries-header {
        margin-bottom: 50px;
    }

    .entry {
        @include clearfix;
    }

    .entry-title {
        margin-top: 15px;
        @include breakpoint($md) {
            margin-top: 0px;
        }
    }

    .entry-featured {
        @include breakpoint($md) {
            @include span(2 of 12);
            &:first-child {
                @include first;
            }
        }
    }

    .entry-content {
        @include breakpoint($md) {
            padding-left: 20px;
            @include span(10 of 12);
            &:first-child {
                @include first;
            }
        }
    }
}
