.site-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;

  @include breakpoint(md) {
    text-align: left;
  }
}

.site-title {
  font-size: 4.5rem;
  font-weight: 400;
}

.site-description {
  font-size: 1.5rem;
}

.primary-navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    display: inline-block;
    margin-right: 1rem;
    font-size: $h6;
  }
}
