/**
 * Posts
 */

// All posts
.blog, .single, .archive, .search-results {

    .entry {
        margin-bottom: 30px;
    }

    .entry-header {
        margin-bottom: 20px;
    }

    .entry-title {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .comments-link {
        display: block;
        margin-top: 10px;
    }
}

// Archive and search posts use excerpts layout
.archive, .search-results {

    .entry {
        @include clearfix;
    }

    .entry-title {
        margin-top: 15px;
        @include breakpoint($md) {
            margin-top: 0px;
        }
    }

    .entry-featured {
        @include breakpoint($md) {
            @include span(2 first);
        }
    }

    .entry-content {
        margin-bottom: 30px;
        @include breakpoint($md) {
            @include span(10);
            padding-left: 20px;
        }
    }
}
