/**
 * Show sidebar on the following page types only
 */
.blog,
.single,
.archive,
.search,
.author {
  .site-content .container {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint(md) {
      flex-flow: row nowrap;
    }
  }

  .main {
    @include breakpoint(md) {
      flex-basis: 66%;
    }
  }

  .sidebar {
    display: none;

    @include breakpoint(md) {
      flex-basis: 33%;
      display: block;
      padding-left: 2rem;
    }
  }
}
